@supports not -moz-bool-pref("userChrome.ProtonTabs-Enabled") {
    #urlbar-input-container {
        --urlbar-container-padding: 2px;
    }

    .urlbar-page-action {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tabs-newtab-button {
        padding-block-start: 2px !important;
    }
}